// @author Igor A Tarasov <develop@dicr.org>
// @version 24.06.20 22:50:34

.dicr-widget-rating-input {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    label {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: 1;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }

    input {
        display: none;
    }
}

