// @author Igor A Tarasov <develop@dicr.org>
// @version 16.08.20 02:47:11

.dicr-widgets-breadcrumbs {
    margin: 1rem 0;

    .breadcrumb {
        padding: 0;
        background: none;
        margin: 0;
    }
}
