// @author Igor A Tarasov <develop@dicr.org>
// @version 14.09.20 20:41:32

.dicr-widgets-breadcrumbs {
    display: block;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0.625rem 0;

    .breadcrumb-item {
        display: inline;
        font-size: 0.93rem;
        line-height: 1.5;
        vertical-align: middle;
        padding: 0;
        margin: 0;

        @media (max-width: 575px) {
            line-height: 2.5;
        }

        + .breadcrumb-item::before {
            content: "‣";
            display: inline;
            font-size: 1.5rem;
            line-height: 0.93rem;
            padding: 0 0.3rem;
            white-space: nowrap;
            vertical-align: middle;

            @media (max-width: 575px) {
                font-size: 2rem;
            }
        }

        &:last-of-type {
            a {
                color: inherit;
            }
        }
    }
}
