// @author Igor A Tarasov <develop@dicr.org>
// @version 11.12.20 03:11:24

.dicr-widgets-breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0.625rem 0;

    .breadcrumb-item {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 0.93rem;
        line-height: 1.5;
        padding: 0;
        margin: 0;

        @media (max-width: 575px) {
            line-height: 2;
        }

        + .breadcrumb-item::before {
            flex: 0 0 auto;
            content: "‣";
            display: block;
            font-size: 1.5rem;
            line-height: 0.9375rem;
            padding: 0 0.3rem;
            white-space: nowrap;

            @media (max-width: 575px) {
                font-size: 2rem;
            }
        }

        &:last-of-type {
            a {
                color: inherit;
                cursor: auto;
            }
        }
    }
}
