// @author Igor A Tarasov <develop@dicr.org>
// @version 27.07.20 03:22:26

.widget-stripe {
    display: block;

    // общие стили стрелок для шапки и тела виджета
    .stripe-arrows {
        .arrow {
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }

            &:before {
                display: block;
                content: "‹";
            }

            &.next {
                &:before {
                    transform: scaleX(-1);
                }
            }
        }
    }

    .stripe-head {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .icon {
            margin-right: 1rem;
        }

        .title {
            flex: 1 1 auto;
            margin-right: 1rem;
        }

        .stripe-arrows {
            flex: 0 0 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            margin-left: auto;

            .arrow {
                padding: 0.5rem 0.6rem;

                &.prev {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .stripe-body {
        position: relative;

        .stripe-slides {
            display: none;

            &.slick-initialized {
                display: block;
            }

            .slick-list {
                margin: 0 -1rem;

                .slick-track {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: stretch;

                    .slick-slide {
                        flex: 1 1 auto;
                        float: none;
                        margin: 0 1rem;
                    }
                }
            }
        }

        .stripe-arrows {
            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &.prev {
                    left: auto;
                    right: calc(100% + 2rem);

                    @media (max-width: 767px) {
                        right: calc(100% + 1rem);
                    }

                    @media (max-width: 575px) {
                        right: calc(100% + 1px);
                    }
                }

                &.next {
                    left: calc(100% + 2rem);
                    right: auto;

                    @media (max-width: 767px) {
                        left: calc(100% + 1rem);
                    }

                    @media (max-width: 575px) {
                        left: calc(100% + 1px);
                    }
                }
            }
        }
    }
}
