// @author Igor A Tarasov <develop@dicr.org>
// @version 20.12.20 18:21:38

.widget-quantity-selector {

    .controls {

    }

    .button {
    }

    .input {
        -moz-appearance: textfield;
        text-align: center;
        min-width: 3rem;
        max-width: 6rem;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
