// @author Igor A Tarasov <develop@dicr.org>
// @version 04.07.20 05:57:32

.widget-popover {
    position: relative;

    > .popup {
        display: none;
        position: absolute;
        z-index: 100;
        padding: 0.5rem;

        > .inner {
            display: block;
            position: relative;
            background: #fff;
            padding: 0.6rem 1rem;
            font-size: 0.8rem;
            line-height: 1.51;
            color: hsl(0, 0%, 35%);
            border: 1px solid hsl(228, 5%, 79%);
            border-radius: .3rem;
            box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.2);

            // стрелка
            &:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                width: 0.8rem;
                height: 0.8rem;
                background: inherit;
                border: solid hsla(0, 0%, 0%, 0.2);
                border-width: 0 0 1px 1px;
            }

            .title {
                font-size: 0.93rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    &:hover {
        .popup {
            display: block;
        }
    }

    &.top {
        .popup {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);

            > .inner {
                &:before {
                    top: 100%;
                    left: 50%;
                    transform: rotate(45deg) translate(-65%, 5%);
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }

    &.bottom {
        .popup {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            > .inner {
                &:before {
                    bottom: 100%;
                    left: 50%;
                    transform: rotate(45deg) translate(5%, 60%);
                    border-width: 1px 0 0 1px;
                }
            }
        }
    }

    &.left {
        .popup {
            right: 100%;
            top: 50%;
            transform: translateY(-50%);

            > .inner {
                &:before {
                    left: 100%;
                    top: 50%;
                    transform: rotate(45deg) translate(-65%, -5%);
                    border-width: 1px 1px 0 0;
                }
            }
        }
    }

    &.right {
        .popup {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);

            > .inner {
                &:before {
                    right: 100%;
                    top: 50%;
                    transform: rotate(45deg) translate(-5%, -65%);
                    border-width: 0 0 1px 1px;
                }
            }
        }
    }
}

