// @author Igor A Tarasov <develop@dicr.org>
// @version 15.12.20 22:53:44

.dicr-widgets-toasts {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    position: fixed;
    top: 0.1rem;
    right: 0.1rem;
    z-index: 999999;

    .toast {
        flex: 0 0 auto;
        display: block;
        max-width: 22rem;
        min-width: 10rem;

        .toast-header {
            .close {
                margin-left: auto;
            }
        }

        .toast-body {
            padding: 0.5rem .75rem;
        }
    }
}


