/*
 * @author Igor A Tarasov <develop@dicr.org>
 * @version 04.07.20 05:57:32
 */

.dicr-widgets-toasts {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999999;
}
