// @author Igor A Tarasov <develop@dicr.org>
// @version 20.06.20 18:26:39

.dicr-widget-custom-select {
    display: table;
    min-width: 5ex;
    position: relative;
    cursor: pointer;

    .popup {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        background: #fff;
        overflow: auto;

        label {
            display: block;
            cursor: pointer;

            /** прячем элемент, не делая его display или visibility none, чтобы сторонне скрипты могли с ним работать */
            input {
                display: none;
            }
        }
    }

    button {
        display: block;
    }

    &.active {
        .popup {
            display: block;
        }
    }
}

