// @author Igor A Tarasov <develop@dicr.org>
// @version 05.01.21 12:53:57

.widget-custom-select {
    display: inline-block;
    position: relative;

    label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
    }

    button {
        display: block;

        label {
            padding: 0;
            margin: 0;
        }
    }

    datalist {
        display: none;
        flex-flow: column nowrap;
        align-items: stretch;

        position: absolute;
        top: calc(100% + 0.25rem);
        left: -0.5rem;

        background: #fff;
        padding: 0.5rem;
        margin: 0;

        input {
            display: none;
        }

        label {
            margin: 0.25rem 0.5rem;
        }
    }

    &.open {
        datalist {
            display: flex;
        }
    }
}
